
@import url(./css/reset.css);
@import url(./css/footer.css); 
@import url(./css/footer-media.css); 
@import url(./css/main.css);
@import url(./css/main-media.css);
@import url(./css/header.css);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


main {
  margin-top: 0;
  min-height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  overflow: hidden;
}


body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, pre, menu {
  margin: 0;
  padding: 0;
}

html,body{min-width:1200px;height:auto;min-height:100%;overflow:auto;}
.wrapper{overflow:hidden;}
.contents_wrap{padding:107px 0 0;}
.contents{width:1000px;min-height:300px;margin:0 auto;padding:0 0 130px;text-align:left;}
.content{margin:0;display:block;}
.content>p{text-align:center}

