#wrap{
	width:100%;
	overflow-x:hidden;	
}
#header, #visual, #content, #footer{
	width:100%;
	clear:both;
}

#header{
	height:90px;
	background-color:#ffffff;
}
#hd_wrap{
	position: relative;
}
.hd_wrap, .ft_wrap{
	/* width:1900px; */
	width: 1500px;
	margin:0 auto;
}
.hd_wrap{
	height:90px;
	padding-top:25px;
}

.logo{
	float:left;
}
.logo img{
	width: 110px;
}
#gnb{
	float:left;
	width:68%;
	position:relative;
}
.gnb_box li{
	float:left;
	font-family:'NanumBarunGothic';
	font-weight:bold; 
	font-size:20px;
	margin-left:300px;
	margin-right:-150px; 
	height:40px;
	line-height:40px;
}
.hd_btn{
	float:right;
	bottom:-5px;
}
/*--------------------------header---------------------------*/


.menu a{
	color:#FF4713;
}
.sub_box{
	clear:both;
	width:945px;
	height:260px;
	background-color: #fff; 
	position:absolute;/**/
	top:60px;
	left:220px;
	display:none;
	z-index:50;
}
.sub_box div{
	float:left;
	padding-top:23px;
}
.sub_box li{
	margin-left:75px;
	margin-right:48px; 
}


.sub_box .sub_title{
	font-family:'a14';
}
.sub_box a{
	font-family:'a13';
	font-weight:; 
	color:#555;
	font-size:15px;
	display:block;
	padding:6px;
	padding-top:12px;
}

.sub_box a:hover{
	color:#FF4713;
	font-family:'a15';
}
/* .lang #family{
	position: absolute;
	right:100px;
	top:50px;
	background-color:#fff;
	color:#555;
	width: 160px;
	height: 30px;
	font-size:12px;
	padding-left:10px;
	border:1px solid #575759;
} */

#visual{
	position:relative;
}
#visual .cont_txt{
	width:600px;
	height:400px;
	/* background-color:rgba(255,255,255,0.5); */
	position:absolute;
	left:650px;
	top:150px;
	color:#fff;
	padding:30px;
	text-align:center;
}
.txt_box .v_text1{
	font-size:50px;
	font-family:'a10';
	margin-top:50px; 
}
.txt_box .v_text2{
	font-family:'a13'; 
	font-size:50px;
	margin-top:30px;
}
.txt_box .v_text3{
	font-family:'a12'; 
	font-size:18px;
	margin-top:30px;
	line-height:36px; 
}
.txt_box .v_text4{
	width:95px;
	height:35px;
	background-color:#6795ac;
	line-height:35px;
	margin-left:430px;
	margin-top:30px;  
}
.v_text4 a{
	font-size:15px;
	color:#fff;
}
.txt_box .v_text4:hover {  
	background-color:#555; 
}
#visual{
	margin-bottom:180px;
}
/*---------------------visual end---------------------------*/

/* --------- content --------- */

#content{
	position: relative;
	padding-top: 200px;
	width: 100vw;
}
#content .row{
	width:100%;
	clear:both;
}








/* ------------------------------------------------ footer ------------------------------------------ */
#footer{
	width:100%;
	position: relative;
}

.ft_wrap{
	position:relative;
	width:100%;
 	height:80px;
 	background-color:#FF4713;
 	z-index:1; 
 		 	
}
.ft_wrap div{
	width:1000px;
	text-align:center;
	
}
.copy{
	padding-top:35px;
	font-size:13px;
	color:#fff
}
.btn{
	position:absolute;
	left:900px;
	top:-2px; 
}
.sitemap_box{
	width:100%;
	height:490px;
	background-image:url("../images/fnb_bg.jpg");
	position:absolute;
 	bottom:80px;
	display:none;
	z-index:0; 	 
}
.sitemap_box_inner{
	width:100%;
	margin:0 auto;
	padding-top:40px;
	padding-left:200px;
	
}
.sitemap_box_inner div{
	width:20%;
	float:left;
	margin:0 auto;
	color:#fff;
	font-size:17px; 
	font-family:'a14'; 
}
.sm_title{
	margin-bottom:15px; 
}
.smcon4 span{
	font-family:'a12' 
}
.sitemap_box_inner a{
	color:#d9d9d9;
	font-size:15px;
	padding-top:10px;
	padding-bottom:15px;
	display: block;

}
.sitemap_box_inner a:hover{
	color:#fff;
}

.sns{
	position:absolute;
	left:1335px;
	top:200px;
}
.sns li{
	float:left;
	margin-right:20px;
}
.sns a:hover{
	opacity:0.8;
}

.sitemap_box_inner2{
	width:100%;
	margin:0 auto;
	padding-top:40px;
	padding-left:200px;	
}
.fnb_list{
	position:absolute;
	width:100%;

	float:left;
	bottom:40px;
}
.fnb_list li{
	float:left;
}
.fnb_list a{
	display: block;
	padding:5px;
	font-size:13px;
	color:#ccc;
}
.fnb_list a::after{
	content:"|";
	padding-left:10px; 
}
.fnb_list .last::after{
	content:"";
	padding-left:0;
}
.fnb_list a:hover{
	color:#fff;
}



