.lnb{width:21.5%; float:left;}
.sub_box{background:#fff;}
.lnb_title{display:table; width:100%; height:152px; margin:0; background:url('../images/sub/lnb_title.jpg') 0px 0px no-repeat; background-size:100% 100%;}
.lnb_title span{display:table-cell; vertical-align: middle; text-align:center; width:239px; font-size:30px; font-weight:500; color:#fff !important;}
.sub_cont{position:relative; float:left; width:78.5%; font-size:15px; padding:35px 3% 50px 3%; height:100%; min-height: 660px; color:#404040 !important; background:url('../images/sub/lnb_bg.jpg') 0px 0px repeat-y;}
.sub_body{padding-top:8px;}
.lnb_lists{margin:0;}
.lnb_lists > li > a{display:block; padding:17px 19px; font-size:16px; color:#505050 !important; border-bottom:1px solid #cececd;}
.lnb_lists > li > a:hover,.lnb_lists > li > a.lnb_on{color:#047e8b !important; background:#f7f7f7 url('../images/sub/lnb_on.png') 95% center no-repeat;}
.lnb_dep{padding:10px 20px; border-bottom:1px solid #cececd;}
.lnb_dep li{margin-bottom:10px;}
.lnb_dep li a {font-size:15px;}
.lnb_dep li a:hover,.lnb_dep li a.lnb_on{color:#047e8b !important;}
.breadcrumbs{position:absolute; left:3%; top:35px;}
.breadcrumbs li{display:inline-block; padding-left:16px; margin-left:10px; background:url('../images/sub/bread_arr.jpg') 0px center no-repeat;}
.breadcrumbs li:first-child{margin:0; padding:0; background:none;}
.breadcrumbs li:first-child img{margin-right:5px;}
.breadcrumbs li a{color:#676767 !important; font-size:13px;}
.breadcrumbs li strong{color:#2f2f2f; font-weight:600;}
.body_title{font-size:43px; color:#252525; font-weight:600; margin-top:40px; padding-bottom:23px; border-bottom:1px solid #ccc;}
.sub_visual{position:relative; width:100%; height:235px;}
.vi_inner{top:0 !important;}
.sub_vi_inner{margin:93px auto;}
.sub_vi_inner h3{font-size:46px; font-weight:600; color:#fff; margin:0; text-shadow: 3px 3px rgba(0,0,0,0.2);}
.m_visual,.mobile_nav{display:none;}
.history_year_tbl_fake{display:none;}
/*공통클래스*/
.mobile_tab{display:none;}
.pc_block{display:block;}
.wh100{width:100%;}
.wh70{width:70%;}
.wh50{width:50%;}
.wh30{width:30%;}
.wh10{width:10%;}
.send_btn{display:inline-block; height:36px; line-height:36px; padding:0 38px; text-align:center; color:#fff !important; font-size:15px; font-weight:500; background:#0a9aa0;}
.list_btn{display:inline-block; height:36px; line-height:36px; padding:0 26px; text-align:center; color:#fff !important; font-size:15px; font-weight:500; background:#0a9aa0;}
.search_btn{display:inline-block; height:34px; line-height:34px; padding:0 13px 0 18px; text-align:center; background:#0a9aa0 !important; font-weight:400 !important; border-radius: inherit !important;}
.common_list01 li{position:relative; padding-left:13px;}
.common_list01 li:before{position:absolute; left:0; top:8px; content:''; display:inline-block; width:3px; height:3px; background:#919595;}
.common_list01 li strong{font-weight:500;}
.common_title01{padding-left:15px; margin-bottom:8px; color:#0a9aa0; font-size:16px; font-weight:600; background:url('../images/sub/location_icon.jpg') 0px 0px no-repeat;}
.common_title02{font-size:29px; color:#19bcb9; margin-bottom:20px;}
.common_title03{font-size:20px; color:#0e717c; font-weight:600;}
.link_bar{position:relative;}
.link_bar:before{position:absolute; left:0; bottom:-6px; content:''; display:inline-block; width:100%; height:1px; background:#717171;}







/*조직도*/
.organization_box{display:table; width:100%;}
.organization_title_wrap{display:table-cell; vertical-align: middle; width:98px; padding-left:26px; text-align:center; height:478px; background:url('../images/sub/org_bar.jpg') right 0px repeat-y;}
.organization_title{width:50px; display:table-cell; vertical-align: middle; background:#19bcb9; height:160px; color:#fff; font-size:17px; font-weight:600; }
.organization_title span{display:block; margin:3px 0;}
.organization_list{display:table-cell; vertical-align: middle;}
.organization_list > li{margin-bottom:35px;}
.org_dep_list{overflow:hidden;}
.org_dep_list > li{float:left; width:25%;}
.org_dep_list > li span{width:158px; display:table-cell; vertical-align:middle; text-align:center;}

/*company overview*/
.text_box p{font-size:16px; color:#454545; line-height:30px;}
.contact_tbl{border-top: 2px solid #047e8b !important;}
.overivew_cont{position:relative; font-size:14px; line-height:24px; color:#404040; overflow:hidden;}
.overivew_left{position:absolute; left:0; top:0;}
.overivew_right{padding-left:291px;}

/*contact_us*/
.contact_us_tbl td{border-bottom:1px solid #cfcfd0; border-left:1px solid #cfcfd0;}
.contact_us_tbl td:first-child{border-left:none;}
.contact_list{overflow:hidden;}
.contact_list li{position:relative; float:left; display:table; width:30.3333%; border:1px solid #dbdbdb; border-radius:5px; margin-left:4%;}
.contact_list li:before{position:absolute; left:0; top:0; content:''; width:100%; height:4px; background:#373737; border-top-left-radius:5px; border-top-right-radius:5px;}
.contact_list li:first-child{margin:0;}
.contact_list_layl{display:table-cell; vertical-align: middle; width:61px; height:82px; text-align:center;}
.contact_list_layr{display:table-cell; vertical-align: middle; width:75%; height:82px; padding-left:10px; font-size:17px; word-break: break-all; font-weight:600; color:#464646;}

/*히스토리*/
.history_cont{position:relative; height:100%; margin-top:35px; background: url('../images/sub/hist_bg.png') 50% 50% repeat-y;}
.history_list > li{position:relative; margin-bottom:65px;}
.history_list > li:last-child{margin:0;}
.history_list > li:last-child .history_year{position:relative; top:11px;}
.history_box{position:relative; padding:16px; border-right:1px solid #e1e1e1; border-left:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; border-top:2px solid #047e8b;}
.hist_arr_left{position:absolute; right:-10px; top:11px; display:inline-block; width:9px; height:9px; background:url('../images/sub/hist_arr_left.jpg') 0px 0px no-repeat;}
.hist_arr_right{position:absolute; left:-10px; top:11px; display:inline-block; width:9px; height:9px; background:url('../images/sub/hist_arr_right.jpg') 0px 0px no-repeat;}
.history_box > li{color:#676767; font-size:14px; line-height:24px;}
.history_layl{float: left;width:41.5%; text-align:right;}
.history_year{position:absolute !important; left:50%; margin-left:-69px; width:17%; text-align:center; }
.history_layr{float:right; width:41.5%;}
.history_title01{font-size:15px; font-weight:300; color:#fff;}
.history_title02{font-size:17px; font-weight:600; color:#fff; display:block;}
.history_circle{padding-top:18px; width:82px; height:82px; margin:-18px auto 0; border-radius:50%; background:#19bcb9;}

/*solutions*/
.title_box{display:table; width:100%; border-bottom:2px solid #047e8b; padding-bottom:10px;}
.solutions_title01{display:table-cell; vertical-align:middle; font-size:27px; color:#047e8b; font-weight:600;  margin-top:0px; padding-bottom:10px;}
.icon_img{display:table-cell; width:170px; vertical-align:middle; text-align:right;}
.icon_img img{position:relative; bottom:-5px;}
.solutions_title01 span{position:relative; bottom:-12px;}
.solutions_title02{font-size:20px; color:#484848; font-weight:400; margin:0;}
.solutions_title_img{margin:0 3% 0 0;}
.solutions_info .product_view_info{padding:19px !important;}
.solutions_info .product_view_list li{margin-bottom:20px;}
.solutions_list_layl{float:left; width:48%; margin:0 !important;}
.solutions_list_layr{float:left; width:48%; margin:0 0 0 4% !important;}
.carousel_wrap{max-width:804px; margin:0 auto;}
.solutions_tbl_toggle{display:none;}
#carousel-left,#carousel-right{z-index:10000; top:50%; margin-top:-21px;}
#carousel-left{left:40px !important;}
#carousel-right{right:40px !important;}
.ie_img{width:100%;}
#carousel {
    width:800px;
    height: 420px;
    position: relative;
  }
#carousel img {
	display: hidden; /* hide images until carousel prepares them */
	cursor: pointer; /* not needed if you wrap carousel items in links */
}



/*Overview*/
.location_box{color:#676767; font-size:13px; line-height:24px;}
.location_list > li{display:table; line-height:24px;}
.location_list li:first-child .location_layl,.location_list li:first-child .location_layr{border-top:2px solid #047e8b;}
.location_layl{display:table-cell; vertical-align:middle; width:145px; border-bottom:1px solid #ccc; font-weight:600; color:#0a9aa0; font-size:15px; /*padding:18px 0 18px 15px;*/ padding-left:15px; height:75px; background:url('../images/sub/location_icon.jpg') 0px 50% no-repeat; margin-top:-2px;}
.location_layr{display:table-cell; vertical-align:middle; width:81%; border-bottom:1px solid #ccc; padding:10px; color:#484848; font-size:14px;}
.location_center{display:table-cell; vertical-align: middle; width:11px;}
.location_info{padding-left:75px; padding-bottom:20px; padding-top:20px; margin:0;}
.location_info dt{margin-bottom:5px; color:#0a9aa0; font-weight:600;}
.location_info dd{color:#676767; font-size:13px;}
.location_address{background:url('../images/sub/location01.jpg') 0px center no-repeat;}
.location_tel{background:url('../images/sub/location02.jpg') 0px center no-repeat;}
.location_fax{background:url('../images/sub/location03.jpg') 0px center no-repeat;}
.location_email{background:url('../images/sub/location04.jpg') 0px center no-repeat;}
.location_info_wrap{overflow:hidden;}
.location_info_wrap dl{float:left; width:33.3333%;}
.location_box01{width:100%; height:289px; background:#ccc;}

.orga_cont{position:relative;}
.orga_title01{position:relative; max-width:160px; margin:0 auto; height:50px; line-height:50px; text-align:center; color:#fff; font-size:17px; border-radius:3px; font-weight:600; background:#19bcb9;}
.orga_title01:after{content:''; position:absolute; left:50%; bottom:-88px; height:88px; display:inline-block; width:1px; background:#ccc;}
.orga_bar{max-width:85.9%; margin:25px auto 0; height:1px; background:url('../images/sub/ogr_line01.jpg') 0px 0px repeat-x;}
.orga_lists{position:relative; float:left; width:10.28571428571429%; margin:32px 2%;}
.orga_lists:after{position:absolute; left:50%; top:-32px; content:''; display:inline-block; width:1px; background:#ccc; height:32px;}
.orga_lists li{position:relative; display:table; width:100%; margin-bottom:16px;}
.orga_lists li span{width:198px; height:101px; font-size:13px; word-break: break-word;background:#ecf1f5; text-align:center; color:#676767; vertical-align:middle; display:table-cell;}
.orga_lists:before{position:absolute; left:50%; top:-42px; content:''; display:inline-block; width:17px; height:17px; margin-left:-7px; z-index:1; background:url('../images/sub/organization_icon01.jpg') 0px 0px no-repeat;}
.orga_lists li:first-child:before{position:absolute; left:50%; top:-3px; content:''; display:inline-block; width:9px; height:9px; z-index:1; margin-left:-3px; z-index:1; background:url('../images/sub/organization_icon02.jpg') 0px 0px no-repeat;}
.orga_lists li:after{position:absolute; left:50%; top:-16px; content:''; display:inline-block; width:1px; background:#ccc; height:16px;}
.orga_lists li:first-child:after{border:1px solid red; display:none;}
.orga_bg01 li span{background:url('../images/sub/org_bg01.jpg') 0px 0px no-repeat; background-size:100% 100%;}
.orga_bg02 li span{background:url('../images/sub/org_bg02.jpg') 0px 0px no-repeat; background-size:100% 100%;}
.orga_bg03 li span{background:url('../images/sub/org_bg03.jpg') 0px 0px no-repeat; background-size:100% 100%;}
.orga_bg04 li span{background:url('../images/sub/org_bg04.jpg') 0px 0px no-repeat; background-size:100% 100%;}
.orga_bg05 li span{background:url('../images/sub/org_bg05.jpg') 0px 0px no-repeat; background-size:100% 100%;}
.orga_bg06 li span{background:url('../images/sub/org_bg06.jpg') 0px 0px no-repeat; background-size:100% 100%;}
.orga_bg07 li span{background:url('../images/sub/org_bg07.jpg') 0px 0px no-repeat; background-size:100% 100%;}

/*제품*/
.product_list{overflow:hidden; border-left:1px solid #c2c2c2; border-bottom:1px solid #c2c2c2;}
.product_list > li{float:left; width:25%; height:172px; margin-left:-1px; margin-bottom:-1px; border:1px solid #c2c2c2; text-align:center;}
.product_tbl{display:table;}
.product_tbl span{display:table-cell; vertical-align: middle; width:200px; height:140px;}
.prod_title{color:#676767; margin:0;}
.tbl_box{display:table; min-height:435px;}
.tbl_box div{width:389px; display:table-cell; vertical-align: middle; text-align:center;}

/*제품*/
.product_lists{margin:0;}
.product_lists > li:first-child{border-top:1px solid #c2c2c2;}
.product_lists > li{display:table; border-left:1px solid #c2c2c2; border-right:1px solid #c2c2c2; border-bottom:1px solid #c2c2c2;}
.product_lists > li > a{display:block; width:100%; height:100%;}
.product_layl{display:table-cell; vertical-align: middle; min-width:200px; text-align:center;}
.product_layr{display:table-cell; vertical-align: middle; width:602px; border-left:1px solid #c2c2c2;}
.product_layr h3{background:#e5f2f3; font-size:19px; font-weight:500; color:#047e8b; margin:0; padding:15px 22px;}
.product-layr_list{padding:20px; overflow:hidden;} 
.product-layr_list li{ color:#717171; font-size:13px; width:50%; float:left; line-height:24px; font-weight:300; overflow:hidden;}
.product-layr_list li:before{top:11px;}

/*제품 뷰*/
.product_view{position:relative;}
.product_view_layl{float:left; width:48%; border:1px solid #e2e2e2;}
.product_view_layr{float:left; width:50%; margin-left:2%; border-top:2px solid #047e8b;}
.product_view_title{font-size:25px; font-weight:600; color:#047e8b; padding-top:18px; margin:0 0 15px 16px;}
.product_view_title span{display:block; font-size:17px; font-weight:400; margin-top:10px;}
.product_view_info{background:#f2f8f9; padding:19px 19px 48px 19px;}
.product_view_list{margin-left:14px;}
.product_view_list li{color:#484848; line-height:19px; margin-bottom:10px;}
.product_view_tbl{width:100%;}
.product_view_tbl thead{background:#393636;}
.product_view_tbl thead th{font-size:15px; font-weight:500; color:#fff; padding:8px 0 8px 21px;}
.solutions_tbl th{text-align:center; padding-left:0 !important; padding-right:0 !important; font-size:13px !important;}
.solutions_tbl td{ font-size:13px !important;}
.solutions_bor{border-left:1px solid #c9c9c9;}
.product_view_tbl tbody th{background:#f5f5f5; color:#484848; word-break:break-all; padding:8px 22px; font-size:14px;  font-weight:400; border-bottom:1px solid #c9c9c9;}
.product_view_tbl tbody td{color:#484848; font-size:14px; padding:11px 22px; word-break:break-all;  border-bottom:1px solid #c9c9c9; word-break: break-word;}

/*탭메뉴*/
.tab_nav{overflow:hidden; border-bottom:1px solid #ccc; clear:both; margin:20px 0 28px 0;}
.tab_nav li:first-child{border-left:2px solid #ccc;}
.tab_nav li{float:left; padding:9px 31px; border-left:1px solid #ccc; border-top:1px solid #ccc; border-right:1px solid #ccc; color:#ababab; cursor:pointer; font-size:16px; font-weight:600; margin-left:-1px;}
.tab_nav li.on,.tab_list6 li.on a,.tab_list6 li:hover a{color:#fff !important; background:#099399;}
.tab_cont{display:none; overflow:hidden;}

.tab_list6 li{float:left; width:16.66666666666667%;  border:1px solid #ccc;  cursor:pointer; font-weight:600; margin-left:-1px;}
.tab_list6 li a{display:block; color:#ababab !important; cursor:pointer; font-size:12px; font-weight:600; }
.tab_tbl_box{display:table; height:60px;}
.tab_tbl_box span{width:389px; display:table-cell; vertical-align: middle; text-align:center;}

/*customer_support*/
.customer_support_box{position:relative;}
.customer_support_layl{position:absolute; left:0; top:0;}
.customer_support_layl img{height:144px;}
.customer_support_layr{padding-left:288px; font-size:14px;}
.customer_support_layr p{line-height:23px;}
.customer_support_info dt{color:#047e8b; font-size:15px; font-weight:500;}
.customer_support_info dd{line-height:24px;}

/*download*/
.download_list{overflow:hidden; margin-bottom:13px;}
.download_list li{font-size:16px; color:#0a9aa0; padding-left:15px; line-height:24px; background:url('../images/sub/lnb_on.png') 0 8px no-repeat;}
.download_tbl{border-top:2px solid #047e8b; margin-top:10px;}
.download_tbl td{color:#404040; font-size:14px; padding:3px 0 3px 12px; border-bottom:1px solid #b7b7b7;}
.inquiry_textarea{min-height:162px; border:1px solid #e5e5e5 !important;}



.check_box input[type="checkbox"]{margin:0 5px 4px 0;}
.privacyBox_wrap {height:168px; background-color:#f6f6f6; padding:13px 16px; border:1px solid #dadada; margin-bottom:10px; overflow-y:scroll; color:#787878; font-size:15px;}
	.privacyBox_wrap h4{font-size:16px; color:#454545; margin-bottom:25px;}
	.privacyBox {}
	.pdl_mb {padding-left:10px; }
	.subTit2 {color:#0054a6;}
	.pdl_mb2 {position:relative; padding-left:40px; }
	.pdl_mb2 span {position:absolute; left:20px;}
	.mrb7 {margin-bottom:10px;}
	.privacyBox {padding:0 15px 15px 15px;}










.tbl_view thead{background:#f8f8f8;}
/* TABLE > ÃªÂ²Å’Ã¬â€¹Å“Ã­Å’Â */
.tbl_list,.b_list,.tbl_view{width:100%;border-top:2px solid #047e8b !important;}
.tbl_list a,.b_list a{color:#545454; font-size:14px;}
.tbl_list th,.b_list th{text-align:center; font-weight:500; color:#404040; background:#f1f1f1; padding:10px 0; font-size:14px; white-space:nowrap;border-bottom:1px solid #969696;}
.tbl_list td,.b_list td{text-align:center; padding:10px 5px;border-bottom:1px solid #d2d2d2; color:#545454; font-size:15px;}
.tbl_bor td,.tbl_bor th{border-left:1px solid #d2d2d2; color:#212121; font-size:15px; word-break: keep-all;  font-size:15px;}
.tbl_bor td{color:#606060;}
.tbl_common01 th{font-weight:normal !important;}
.barL{padding-left:10px; background:url('../images/sub/view_bar.jpg') 0px 3px no-repeat;}
/*.tbl_list td{min-height:48px;}*/
.check_box label{ font-weight:400 !important;}
.tbl_view th{padding:10px; font-weight:500; white-space:nowrap;border-bottom:1px solid #cacaca;word-break:keep-all;white-space:pre-line;word-wrap:break-word; color:#323232;}
.tbl_view th.fwb{font-size:20px; padding:8px 10px 10px 10px; color:#333; font-weight:500;}
.tbl_view td{padding:5px;border-bottom:1px solid #ccc; word-break:keep-all;}
.tbl_view.tbl_view_prnx{border-top:none !important; color:#656565; margin:0;}
.tbl_view.tbl_view_prnx th{font-weight:400; background:#f6f6f6; padding:11px 0 11px 15px !important; white-space:nowrap;border-bottom:1px solid #ccc;color:#8e8d8d;}
.tbl_view.tbl_view_prnx th span{padding:0 35px 0 0;}
.file_link{color:#3560b7; font-size:15px; background:url('../images/sub/file_icon.jpg') 0px 0px no-repeat;}
.tbl_view.tbl_view_prnx th.tbl_view_pr{background:url(../images/sub/tbl_view_prnx_up.jpg) 53px 19px no-repeat}
.tbl_view.tbl_view_prnx th.tbl_view_nx{background:url(../images/sub/tbl_view_prnx_down.jpg) 53px 19px no-repeat}
.tbl_view.tbl_view_prnx a{overflow:hidden; color:#545454; text-overflow:ellipsis;-webkit-line-clamp:1;display:-webkit-box;-webkit-box-orient:vertical; padding-left:27px;}
.tbl_inquiry{border-top:2px solid #047e8b; border-bottom:1px solid #b7b7b7;}
.tbl_inquiry th{color:#404040; font-size:15px; padding:3px 10px; font-weight:400 !important; border-bottom:1px solid #d2d2d2;background-color:#f1f1f1;word-break:keep-all;white-space:pre-line;word-wrap:break-word;text-align:left;}
.tbl_inquiry th label{ font-weight:400 !important;}
.tbl_inquiry td{padding:3px;font-size:15px; border-bottom:1px solid #c6c6c6;}
.tbl_inquiry input{vertical-align:middle;}
.tbl_inquiry input[type=text],
.tbl_inquiry input[type=tel],
.tbl_inquiry input[type=email],
.tbl_inquiry input[type=url],
.tbl_inquiry input[type=password],
.tbl_inquiry input[type=file]{height:32px;padding:2px;margin:1px 0;border:1px solid #e5e5e5;-webkit-box-sizing: border-box;-webkit-appearance: none;
-moz-box-sizing: border-box;-moz-appearance: none;
-webkit-border-radius:none; border-radius:0;}
.tbl_inquiry select{height:28px;border:1px solid #c6c6c6;vertical-align:middle;}
.tbl_inquiry textarea{border:1px solid #c6c6c6;vertical-align:middle;}
.tbl_inquiry.tbl_join th{}
.tbl_inquiry.tbl_join td{background:#f8f8f8;}
.tview_bot{font-weight:normal !important; color:#7f7e7e !important; font-size:14px; padding:0 10px 13px 10px !important;}
.list_btn a{background:#053463; color:#fff !important; font-size:15px; height:40px; padding:0 35px; line-height:40px; border-radius: inherit;}
.list_btn a:hover{color:#fff;}
.board_view_con{padding:20px 10px;min-height:200px;}
	.board_view_con_q{position:relative;padding:20px 20px 20px 55px;min-height:100px;}
	.board_view_con_a{position:relative;padding:20px 20px 20px 55px;min-height:100px;}
	.board_view_q_icon,.board_view_a_icon{position:absolute;left:15px;top:25px;display:block;width:25px;height:25px;text-indent:-9999px;}
	.board_view_q_icon{background:url(../images/common/icon_qa.png) 0 0 no-repeat;}
	.board_view_a_icon{background:url(../images/common/icon_qa.png) -30px 0 no-repeat;}
	.board_view_con img{width:100% !important; height:100% !important;}
.td_file{}
	.td_file div{position:relative;padding-left:55px;}
	.td_file span{position:absolute;display:block;top:6px;left:0;padding-right:9px;border-right:1px solid #abb0b6;line-height:1;}
	.td_file a{padding-left:24px; color:#047e8b;text-decoration:underline; background:url('../images/sub/save.jpg') 0 3px no-repeat;}
	.td_file ul{}
	.td_file li{color:#0054a6;background:url(../images/common/icon_file.gif) 0 6px no-repeat;line-height:2;}
.qna_q{position:relative;min-height:130px;}
.qna_a{position:relative;min-height:130px;padding-top:20px;padding-left:24px;border-top:1px dashed #d2d2d2;background:url(../images/common/icon_rep.gif) 0 20px no-repeat;}
.qna_a_tit{padding-bottom:10px;font-size:13px;}
.qna_a_tit strong{color:#004e96;}
.qna_a_tit em{padding-left:5px;font-size:12px;opacity:.5;}
.tbl_basic{border-top:1px solid #444;}
	.tbl_basic th, .tbl_basic td{padding:10px 12px;}
	.tbl_basic.tbl_head thead th{border-bottom:1px solid #8d8d8d;color:#343434;background:#fafafa;}
	.tbl_basic.tbl_head tbody td{border-bottom:1px solid #ddd;border-left:1px solid #ddd;}
	.tbl_basic.tbl_head tbody td:first-child{border-left:none;}
	.th_center th{text-align:center;}
	.tbl_basic.tbl_th_head th{border-bottom:1px solid #c3c3c3;border-right:1px solid #c3c3c3;color:#343434;background:#fafafa;}
	.tbl_basic.tbl_th_head td{border-bottom:1px solid #c3c3c3;}
	.w100c{width:100%;}
	.tbl_basic.tbl_th_allbg thead th{border-bottom:1px solid #8a8a8a;}
	.tbl_basic.tbl_th_allbg th{border-bottom:1px solid #c3c3c3;border-right:1px solid #c3c3c3;color:#343434;background:#fafafa;}
	.tbl_basic.tbl_th_allbg th:last-child{border-right:none;}
	.tbl_basic.tbl_th_allbg td{border-bottom:1px solid #c3c3c3;border-left:1px solid #c3c3c3;}
	.tbl_body_th_none tbody th{background:none!important;}
	.tbl_body_th_left tbody th{text-align:left;}
	.tbl_body_th_left tbody th a{color:#2884c4;}
	.btn_gray2{background:#22a19f; border-radius: inherit; color:#fff;}
	.btn_blue2{background:#7f7f7f; border-radius: inherit; color:#fff;}
.tbl_course thead th{border-right:1px solid #c3c3c3;color:#343434;background:#fafafa;border-bottom:1px solid #8a8a8a;}
	.tbl_course th:last-child{border-right:none;}
	.tbl_course td{border-bottom:1px solid #c3c3c3;border-left:1px solid #c3c3c3;}
	.tbl_course tbody th{text-align:left;border-bottom:1px solid #c3c3c3;}
	.tbl_course tbody th a{color:#2884c4;}
.board_btn_basic{text-align:right;}
	.board_btn_basic .button{position:relative; top:0;}
	.board_btn_basic button{color:#fff;font-weight:700;line-height:32px;padding:0 3%; border-radius:5px; border:none;cursor:pointer;background:#004e96;}
	.board_btn_basic input[type=text]{height:34px;padding:0 4px; box-sizing:border-box;border:1px solid #bababa;line-height:28px;color:#858990;}
	.board_btn_basic select{padding:4px;line-height:29px; box-sizing:border-box; border:1px solid #bababa;color:#858990; box-sizing:border-box;}
	.all_count{float:left;padding-top:10px;color:#5a6265;}
	.all_count span{color:#399bd8;}
.mw_box{position:fixed;_position:absolute;top:0;left:0;width:100%;height:100%;z-index:999;display:none;}
	.mw_box .bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50);}
	.mw_box .fg{position:absolute;top:30%;width:370px;left:50%;margin-left:-200px;box-sizing:border-box;}
	.btn_mw_close{position:absolute;top:10px;right:10px;width:38px;height:38px;text-indent:-9999px;border:0px;background:url(../images/sub/btn_mw_close.png) 50% 50% no-repeat;cursor:pointer;z-index:9999;}
	.password_bx{padding:0 15px;margin:0 auto;padding-bottom:20px;border:1px solid #e9e9e9;text-align:center;font-size:14px;background:#f3f3f3;}
	.password_bx dl{padding:25px 20px 15px;}
	.password_bx dt{word-break:keep-all;white-space:pre-line;word-wrap:break-word;}
	.password_bx dd{padding-top:20px;}
	.password_bx dd label{font-size:15px;padding-right:10px;}
	.password_bx input[type=password]{width:196px;height:30px;padding:2px;margin:1px 0;border:1px solid #c6c6c6;vertical-align:middle;text-align:center;font-size:15px;}
.mw_box_course{position:fixed;_position:absolute;top:0;left:0;width:100%;height:100%;z-index:999;display:none;}
	.mw_box_course .btn_mw_close{position:absolute;top:30px;right:30px;width:30px;height:30px;padding:5px;text-indent:-9999px;border:0px;background:#fff url(../images/sub/btn_close_mw.png) 50% 50% no-repeat;cursor:pointer;z-index:9999;}
	.mw_box_course .bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50);}
	.mw_box_course .fg{position:absolute;top:20px;left:50%;margin-left:-443px;width:886px;bottom:20px;box-sizing:border-box;background:#fff;}
#mw_frame{width:100%;height:100%;border:none;}
.courseBox{}
	.tbl_num{font-size:14px; color:#545454; float:left; padding-top:10px;}
	.tbl_num em{color:#ff5003; font-weight:600; font-size:14px;}
	
	.mwBox{padding:50px 50px 0;font-size:15px;color:#484848;}
	.mw_tit{margin-bottom:40px;padding-right:20px;font-size:32px;color:#404040;}
	.tbl_course_d{margin-bottom:40px;}
	.tbl_course_d th,.tbl_course_d td{font-size:15px;padding:10px 15px;border:1px solid #e3e3e3;}
	.tbl_course_d th{background-color:#eefbff;color:#384043;}
	.tbl_course_d td{}
	.tbl_course_d.tbl_course_d_head{}
	.tbl_course_d.tbl_course_d_head thead th{border-top:1px solid #209eca;border-bottom:1px solid #87cce4;}
	.tbl_course_d.tbl_course_d_head tbody th{color:#727272;}
	.mwBox dl{margin-top:40px;}
	.mwBox dt{margin-bottom:10px;font-size:17px;font-weight:700;}
	.mwBox dt span{color:#333;font-size:20px;}
	.mwBox dd{}
	.refund_polic_title{float:left;}
.td_file div{position:relative;padding-left:46px;}
	.td_file span{position:absolute;display:block;top:8px;left:0;padding-right:18px;border-right:1px solid #abb0b6;line-height:1;}
	.td_file a{color:#047e8b;text-decoration:underline;}
	.td_file ul{}
	.td_file li{padding-left:20px;color:#0054a6;background:url(../images/common/icon_file.gif) 0 6px no-repeat;line-height:2;}
.qna_q{position:relative;min-height:130px;}
.qna_a{position:relative;min-height:130px;padding-top:20px;padding-left:24px;border-top:1px dashed #d2d2d2;background:url(../images/common/icon_rep.gif) 0 20px no-repeat;}
.qna_a_tit{padding-bottom:10px;font-size:13px;}
.qna_a_tit strong{color:#004e96;}
.qna_a_tit em{padding-left:5px;font-size:12px;opacity:.5;}
/*
	/* pagination */
.btnbx{position:relative;}
	.btnbx a{margin-left:5px;}
	.btnbx a:first-child{margin-left:0;}
	.pagination{position:relative; width:100%; margin:0; padding:30px 0; font-size:0; text-align:center; line-height:normal; white-space:nowrap; margin-bottom:10px;}
	.pagination *{display:inline-block; margin:0 1px; padding:4px 10px; border:1px solid #bfbfbf; font-weight:normal !important; text-decoration:none; line-height:normal; color:#333b46; vertical-align:middle;font-weight:700;font-size:14px;}
	.pagination a:hover, .pagination a:active, .pagination a:focus{border:1px solid #0a9aa0; color:#0a9aa0;}
	.pagination a{}
	.pagination strong{color:#0a9aa0; text-decoration:none; border:1px solid #0a9aa0;}
	.pagination .direction{padding:0 1px; text-align:center; font-weight:bold; border:1px solid #bfbfbf;}
	.pagination .direction:hover, .pagination .direction:active, .pagination .direction:focus{background-color:transparent !important; color:#7c7c7c; }
	.pagination .direction a,.pagination .direction img{padding:0;border:0;}
	.pagination_btn{padding:0 !important; margin:0 0px !important; border:0 !important;}
.pagination_btn:first-child img,.pagination_btn:last-child img{padding:0 !important; margin:0 0px !important; border:0 !important;}
.pagination_btn img{height:30px; padding:0 !important; margin:0 7px !important; border:0 !important;}
.pagination_btn:hover{background:transparent !important;}
	.board_btn_basic{text-align:right;}
	.board_btn_basic .button{position:relative; top:0;}
	.board_btn_basic button{}
	.btn_abs{position:absolute;right:0;margin:-4px 0 0 0;padding:0;font-size:16px !important;}
	.btn_abs *{margin:0;padding:0;}
	.btn_abs_left{position:absolute;left:0;margin:0;padding:0;}
	.direction{margin:0 10px;}
.qna_icon{margin-right:10px;}
.tbl_program td{color:#727272;}
.tbl_program td strong{color:#484848;}
.tbl_gallery{padding:20px 0;border-bottom:1px solid #d2d2d2;border-top:2px solid #053463;}
	.tbl_gallery::after{content:""; display:block; clear:both;}
	.tbl_gallery dl{position:relative;float:left;width:33.3333%;height:240px;margin-bottom:50px;padding-right:10px;padding-left:10px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
	.tbl_gallery dt{position:relative; text-align:center; border:1px solid #d7d7d7;line-height:0;}
	.tbl_gallery dt img{max-width:100%;height:200px;}
	.tbl_gallery dd{padding:8px 0; border:1px solid #cccccc; padding:11px;}
	.tbl_gallery dd a{display:block;color:#454444;font-weight:500;overflow:hidden; font-size:16px; margin-bottom:4px; text-overflow:ellipsis;-webkit-line-clamp:1;display:-webkit-box;-webkit-box-orient:vertical;}
	.tbl_gallery dd span{display:block;color:#6a6a6a; font-size:15px;}
	.page_write{position:absolute; right:0; top:30px; padding:0;  border:none; background:#004e96; border-radius:5px;}
	.page_write a{display:block; color:#fff; border:none; padding:0 18px; height:35px; line-height:35px;}
/*faq*/
.faq{border-top:2px solid #047e8b;}
.faq p{margin:0;}
.faqhide{border-bottom:1px solid #d4d4d4;}
.trigger{position:relative; display:block; padding:15px 0 18px 70px; font-size:15px; color:#656565; background:url('../images/sub/faq_off.png') 96% center no-repeat;}/*ê¸°ë³¸ ì•„ì½”í‹°ì–¸ë©”ë‰´*/
.faq .a{position: relative; display: none; padding: 19px 20px 20px 70px; font-size:15px; color:#656565; background:#f7f7f7;  border-bottom:1px solid #d4d4d4;}/*ìžì‹ ë©”ë‰´ ê¸°ë³¸ê°’*/
.faq .a span{position:absolute; top:14px; left:9px; width:36px; height:36px; background:url('../images/sub/faq_a.png') 0 center no-repeat;}/*ìžì‹ë©”ë‰´ì— ìžˆëŠ” aì´ë¯¸ì§€*/
.faq .q a.trigger span{position:absolute; top:11px; left:9px; display:inline-block; width:36px; height:36px; margin-right:12px; background:url('../images/sub/faq_q_off.png') 0 center no-repeat;}/*qì´ë¯¸ì§€ ê¸°ë³¸ê°’*/
.faq .show a.trigger{color:#414141; font-size:17px; font-weight:600; border-bottom:1px solid #d4d4d4; background:url('../images/sub/faq_on.png') 96% center no-repeat;}/*í´ë¦­ì‹œ ì•„ì½”í‹°ì–¸ë©”ë‰´ ë°°ê²½ìƒ‰ìƒê³¼ oní™”ì‚´í‘œë¡œ ë³€ê²½ */
.faq .show .q a.trigger span{background:url('../images/sub/faq_q_off.png') 0 center no-repeat;}/*í´ë¦­ì‹œ qì´ë¯¸ì§€ onì´ë¯¸ì§€ë¡œ êµì²´*/
.faq_tbl td{background:#fff;}
/*.faq .q.active:before{ content:''; display:block; background:#daf1f8; width:100%; height:3px;}*/
.wonwoo_lists:last-child{margin-bottom:0;}
.wonwoo_lists dt{font-size:15px; font-weight:600; color:#393939; margin-bottom:5px;}
.wonwoo_lists dd{font-size:14px; color:#646464;}
.btn{padding:9px 26px !important;}
.btn_lists a{width:99px; height:44px; line-height:44px; text-align:center; padding:0 !important; background:#7f7f7f; border-radius: inherit; color:#fff; font-size:15px; }
.btn_lists a:hover{color:#fff;}
.pagination_btn,.pagination_btn img{padding:0 !important; border:0 !important;}
.pagination_btn:hover{background:transparent !important;}
.write_btn{position:absolute; right:0; top:0; border:0 !important; padding:0 !important;}
.write_btn a{display:inline-block; height:40px; line-height:40px; padding:0 29px !important; border:0 !important; }
.write_btn a:hover{background:#053463;}
/*제품*/
.prod_lists{overflow:hidden; border-bottom:1px solid #cfcfd0; margin:0;}
.prod_lists li{position:relative; float:left; width:33.333%; height:229px; text-align:center;}
/*.prod_lists li:hover,.prod_lists li:hover img{background:#f2f2f2;}*/
.prod_lists li:before{position:absolute; left:0; top:27px; content:''; display:inline-block; width:1px; height:175px; background:#c6c6c6;}
.prod_lists li:first-child:before,.prod_lists li:nth-child(3n+1):before{display:none;}
.prod_lists li a{display:block;}
.prod_box{display:table-cell; vertical-align: middle; text-align:center; width:260px; height:175px;}
.prod_lists li a img{max-height:175px;}
.prod_tit{color:#454545; font-size:15px;}
/*제품 뷰*/
.tbl_prod{border-top:2px solid #abafb1 !important;}
.tbl_prod th,.tbl_prod td{white-space: normal !important;}
.tbl_prod th{font-size:15px; color:#343434 !important; padding:10px 1.5% !important; word-break: keep-all; font-weight:normal !important; font-size:15px !important; background:#f6f7f7 !important; border-left:1px solid #dddfe0;}
.prod_view{position:relative; background:#f3f3f3; padding:19px 19px 10px 19px; border-top:2px solid #111113; border-bottom:1px solid #c6c6c6;}
.view_img{position:absolute; left:19px; top:19px; background:#fff; width:336px; height:292px; border:1px solid #e2e2e2;}
.view_img .single span{display:table-cell; width:336px; vertical-align:middle; height:292px;text-align: center;}
.view_img .single span img{width:auto !important; max-height:170px !important; height:auto; display: inline-block;}
.view_info{padding-left:364px;}
.view_info h3{font-size:18px; color:#19bcb9; font-weight:600; margin:15px 0 20px 0;}
.view_info p{color:#515151; font-size:16px;}
.view_thumbnail{overflow:hidden; margin-top:10px;}
.view_img .single .flex-direction-nav{display:none;}
.view_thumbnail .slides li{background:#fff; margin: 0 auto; border:1px solid #e2e2e2;}
.view_thumbnail .slides li span{display:table-cell; vertical-align:middle; width:100px; height:85px; text-align:center;}
.view_thumbnail .slides li span img{display:inline-block; max-height:65px; height:auto;}
.flex-direction-nav a{margin:-10px 0 0; width:20px !important; height:20px !important;}
.m_tbl{display:none;}
.view_info_lists li{position:relative; padding-left:15px; color:#454545; font-size:14px; line-height:24px;}
.view_info_lists li:after{position:absolute; left:0; top:11px; content:''; width:4px; height:4px; border-radius:50%; background:#454545;}
.prod_tab{padding:20px 0 30px 24px; padding-bottom:20px; overflow:hidden; border-bottom:1px solid #cfcfd0;}
.prod_tab li{position:relative; float:left; cursor:pointer; color:#c6c6c6; font-size:16px; margin-left:20px; padding-left:20px; background:url('../images/sub/view_icon.jpg') 0px 3px no-repeat;}
.prod_tab li:first-child{background:none; padding:0; margin:0;}
.prod_tab li.on{color:#19bcb9;}
.prod_list{text-align:right;padding-top:15px; margin-top:35px; border-top:1px solid #cfcfd0;}
.prod_list a{background:#7f7f7f; color:#fff; font-size:15px; text-align:center; width:99px; height:44px; line-height:44px;  display:inline-block;}


@media screen and (max-width : 1024px) {
	.history_year{position:absolute; left:50%; margin-left:-8.5%; width:17%; text-align:center; }
	.history_circle{padding-top:12px; width:72px; height:72px; margin:-15px auto 0; border-radius:50%; background:#19bcb9;}
	.orga_bg01 li span{background:url('../images/sub/org_bg01.jpg') 0px 0px no-repeat; background-size:100% 100%;}
	.orga_bg02 li span{background:url('../images/sub/org_bg02.jpg') 0px 0px no-repeat; background-size:100% 100%;}
	.orga_bg03 li span{background:url('../images/sub/org_bg03.jpg') 0px 0px no-repeat; background-size:100% 100%;}
	.orga_bg04 li span{background:url('../images/sub/org_bg04.jpg') 0px 0px no-repeat; background-size:100% 100%;}
	.orga_bg05 li span{background:url('../images/sub/org_bg05.jpg') 0px 0px no-repeat; background-size:100% 100%;}
	.orga_bg06 li span{background:url('../images/sub/org_bg06.jpg') 0px 0px no-repeat; background-size:100% 100%;}
	.orga_bg07 li span{background:url('../images/sub/org_bg07.jpg') 0px 0px no-repeat; background-size:100% 100%;}
}



@media screen and (max-width : 768px) {
	.lnb,.pc_visual,.breadcrumbs,.nav3{display:none;}
	.m_visual,.mobile_nav{display:block;}
	.sub_visual{height:170px;}
	.sub_cont{width:100%; padding:20px 3% 30px 3%; min-height:350px;}
	.privacyBox_wrap {width:100%; height:100px; overflow-y:scroll; padding:15px;}
	.privacyBox {background-color:#fff;}
	.pdl_mb {padding-left:10px; }
	.subTit2 {color:#0054a6; font-size:15px; margin:0 0 10px 0;}
	.pdl_mb2 {position:relative; padding-left:40px; }
	.pdl_mb2 span {position:absolute; left:20px;}
	.mrb7 {margin-bottom:10px;}
	.privacyBox {padding:0 10px 10px 10px;}
	.sub_vi_inner{margin:66px auto;}
	.sub_vi_inner h3{font-size:30px;}
	/*공통 css*/
	.body_title{font-size:30px; border-bottom:none; margin:0; padding-bottom:10px;}
	.common_title03{font-size:20px; line-height:26px;}
	.solutions_img{text-align:center;}
	.solutions_img img{height:90px;}
	/*모바일 네비*/
	.mobile_nav_list{text-align:left; background:#19bcb9;}
	.mobile_nav_list > li{position:relative; display:inline-block; padding-top:8px; font-weight:300; margin-left:2%; padding-left:2%; cursor:pointer; text-align:left; background:url('../images/sub/m_nav_arr.png') 3px 12px no-repeat; background-size:7px auto;}
	.mobile_nav_list > li > a{display:block; color:#fff !important; padding-left:15px; font-size:14px; font-weight:300; letter-spacing:-1px;}
	.mobile_nav_list > li:first-child{width:40px; text-align:center; border-left:1px solid #c0c0c0; font-weight:300; background:#047e8b; margin:0; padding:0;}
	.mobile_nav_list > li:first-child a{padding:0 10px; height:40px; line-height:40px;}
	.mobile_nav_list > li:first-child a img{vertical-align: middle;}
	.mobile_nav_list > li:first-child > a{background:transparent !important;}
	.mobile_nav_list > li:hover > a{color:#6c5648; background:url('../images/sub/lnb_arr01.jpg') 90% 20px no-repeat;}
	.dep_nav{position:absolute; left:-10px; top:38px; width:152px; border-left:1px solid #c0c0c0;  z-index:9999; display:none; margin-left:-1px;}
	.dep_nav > li{border-right: 1px solid #c0c0c0; }
	.dep_nav > li > a{border-bottom:1px solid #c0c0c0;}
	.dep_nav > li a{display:block; padding:10px; font-size:12px; color:#6e6e6e;  font-weight:400; background:#fff; text-align:left;}
	.dep_nav > li a:hover{background:#19bcb9; color:#fff !important;}
	.dep_nav02{left:22px;}
	.double_nav01 li:last-child{border-bottom:none;}
	.nav3_menu > a{border-bottom: 1px solid #c0c0c0;}
	/*Overview*/
	.location_box{color:#676767; font-size:13px; line-height:24px;}
	.location_list{border-top:2px solid #047e8b;}
	.location_list > li{display:block; padding:18px 0; line-height:24px; border-bottom:1px solid #ccc;}
	.location_list li:first-child .location_layl,.location_list li:first-child .location_layr{border-top:none;}
	.location_layl{display:block; vertical-align:middle; width:100%; border-bottom:none; font-weight:600; height:auto; color:#0a9aa0; font-size:15px; /*padding:18px 0 18px 15px;*/ padding-left:15px; background:url('../images/sub/location_icon.jpg') 0px 50% no-repeat; margin-top:-2px;}
	.location_layr{display:block; vertical-align:middle; width:100%; border-bottom:none; padding:0px 0px 0px 15px; color:#484848; font-size:14px;}
	.location_layr li{font-size:13px;}
	.location_center{display:none; vertical-align: middle; width:11px;}
	.location_info{padding-left:75px; padding-bottom:20px; padding-top:20px; margin:0;}
	.location_info dt{margin-bottom:5px; color:#0a9aa0; font-weight:600;}
	.location_info dd{color:#676767; font-size:13px;}
	.location_address{background:url('../images/sub/location01.jpg') 0px center no-repeat;}
	.location_tel{background:url('../images/sub/location02.jpg') 0px center no-repeat;}
	.location_fax{background:url('../images/sub/location03.jpg') 0px center no-repeat;}
	.location_email{background:url('../images/sub/location04.jpg') 0px center no-repeat;}
	.location_info_wrap{overflow:hidden;}
	.location_info_wrap dl{float:left; width:33.3333%;}
	.location_box01{width:100%; height:289px; background:#ccc;}
	
	/*company overview*/
	.text_box p{font-size:16px; color:#454545; line-height:30px;}
	.contact_tbl{border-top: 2px solid #047e8b !important;}
	.overivew_cont{position:relative; font-size:13px; line-height:23px; color:#404040; overflow:hidden;}
	.overivew_cont .mb30{margin-bottom:20px !important;}
	.overivew_left{position:static; left:0; top:0; float:left; margin:0 17px 5px 0;}
	.overivew_left img{width:150px;}
	.overivew_right{padding:0;}
	.overivew_cont h3{margin:0px 0 20px 0 !important; word-break: break-word;}
	
	/*히스토리*/
	.history_cont{position:relative; height:100%; margin-top:35px; background: url('../images/sub/hist_bg.png') 29px 50% repeat-y;}
	.history_list > li{position:relative; margin-bottom:65px;}
	.history_list > li:last-child{margin:0;}
	.history_list > li:last-child .history_year{position:relative; top:25px;}
	.history_box{position:relative; padding:0px; border:none;}
	.hist_arr_left{position:absolute; left:-30px; top:-5px; display:inline-block; width:9px; height:9px; transform:rotateY(180deg); background:url('../images/sub/hist_arr_left.jpg') 0px 0px no-repeat;}
	.hist_arr_right{position:absolute; left:-30px; top:-5px; display:inline-block; width:9px; height:9px; background:url('../images/sub/hist_arr_right.jpg') 0px 0px no-repeat;}
	.history_box > li{color:#676767; font-size:13px; line-height:21px;}
	.history_layl{float:none; display:table-cell; width:87%; margin:0 0 20px 0; text-align:left;}
	.history_year{position:relative; top:11px; display:table-cell; left:0; float:none; width:11%; text-align:center; margin:0;}
	.history_layr{float:none; width:87%; display:table-cell; }
	.history_title01{font-size:13px; font-weight:300; color:#fff;}
	.history_title02{font-size:14px; font-weight:600; color:#fff; display:block;}
	.history_circle{padding-top:11px; width:65px; height:65px; margin:-18px 0 0 0; border-radius:50%; background:#19bcb9;}
	.history_year_tbl{display:table; width:100%;}
	.history_year_tbl_layl{display:table-cell; width:100px; min-width:90px;}
	.history_year_tbl_layc{display:table-cell; width:768px; padding:20px; border-right: 1px solid #e1e1e1; border-left: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; border-top: 2px solid #047e8b;}
	.history_year_tbl_layr{display:table-cell; width:768px; padding:20px; border-right: 1px solid #e1e1e1; border-left: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; border-top: 2px solid #047e8b;}
	.history_year_tbl_fake{display:table-cell; width:100px; min-width:90px; height:100px;}
	.history_year_tbl_fake .history_circle{text-indent: -9999px; background: transparent;}
	.history_mt20{margin-top:20px;}
	.history_last{display: block; padding: 10px 10px 10px 10px; line-height: 20px; width: 100%;}
	.history_last .hist_arr_right{left:-20px;}
	/*조직도*/
	.orga_cont{position:relative;}
	.orga_title01{position:relative; max-width:120px; margin:0 auto; height:40px; line-height:40px; text-align:center; color:#fff; font-size:15px; border-radius:3px; font-weight:600; background:#19bcb9;}
	.orga_title01:after{content:''; position:absolute; left:50%; bottom:-88px; height:88px; display:inline-block; width:1px; background:#ccc;}
	.orga_bar{max-width:85.9%; margin:25px auto 0; height:1px; background:url('../images/sub/ogr_line01.jpg') 0px 0px repeat-x;}
	.orga_lists{position:relative; float:left; width:10.28571428571429%; margin:32px 2%;}
	.orga_lists:after{position:absolute; left:50%; top:-32px; content:''; display:inline-block; width:1px; background:#ccc; height:32px;}
	.orga_lists li{position:relative; display:table; width:100%; margin-bottom:16px;}
	.orga_lists li span{width:198px; height:102px; font-size:5px; word-break:break-all; letter-spacing:-1px; background:#ecf1f5; text-align:center; color:#676767; vertical-align:middle; display:table-cell;}
	.orga_lists:before{position:absolute; left:50%; top:-42px; content:''; display:inline-block; width:17px; height:17px; margin-left:-7px; z-index:1; background:url('../images/sub/organization_icon01.jpg') 0px 0px no-repeat;}
	.orga_lists li:first-child:before{position:absolute; left:50%; top:-3px; content:''; display:inline-block; width:9px; height:9px; z-index:1; margin-left:-3px; z-index:1; background:url('../images/sub/organization_icon02.jpg') 0px 0px no-repeat;}
	.orga_lists li:after{position:absolute; left:50%; top:-18px; content:''; display:inline-block; width:1px; background:#ccc; height:18px;}
	.orga_lists li:first-child:after{border:1px solid red; display:none;}
	.orga_bg01 li span{background:url('../images/sub/org_bg01.jpg') 0px 0px no-repeat; background-size:100% 100%;}
	.orga_bg02 li span{background:url('../images/sub/org_bg02.jpg') 0px 0px no-repeat; background-size:100% 100%;}
	.orga_bg03 li span{background:url('../images/sub/org_bg03.jpg') 0px 0px no-repeat; background-size:100% 100%;}
	.orga_bg04 li span{background:url('../images/sub/org_bg04.jpg') 0px 0px no-repeat; background-size:100% 100%;}
	.orga_bg05 li span{background:url('../images/sub/org_bg05.jpg') 0px 0px no-repeat; background-size:100% 100%;}
	.orga_bg06 li span{background:url('../images/sub/org_bg06.jpg') 0px 0px no-repeat; background-size:100% 100%;}
	.orga_bg07 li span{background:url('../images/sub/org_bg07.jpg') 0px 0px no-repeat; background-size:100% 100%;}


	/*제품*/
	.product_lists > li:first-child{border-top:1px solid #c2c2c2;}
	.product_lists > li{display:table; border-left:1px solid #c2c2c2; border-right:1px solid #c2c2c2; border-top:1px solid #c2c2c2;  margin-bottom:20px;}
	.product_lists > li > a{display:block; width:100%; height:100%;}
	.product_layl{display:block; width:100%; vertical-align: middle; min-width:auto; text-align:center;}
	.product_layr{display:block; vertical-align: middle; width:100%; border-left:none;}
	.product_layr h3{background:#e5f2f3; font-size:15px; font-weight:500; color:#047e8b; margin:0; padding:15px 22px;}
	.product-layr_list{padding:20px;} 
	.product-layr_list li{color:#717171; font-size:13px; width:100%; float:left; line-height:24px; font-weight:300; overflow:hidden;}
	.product-layr_list li:before{top:11px;}
	
	.product_list{overflow:hidden; border-left:1px solid #c2c2c2; border-bottom:1px solid #c2c2c2;}
	.product_list > li{float:left; width:25%; height:172px; margin-left:-1px; margin-bottom:-1px; border:1px solid #c2c2c2; text-align:center;}
	.product_tbl{display:table;}
	.product_tbl span{display:table-cell; vertical-align: middle; width:768px; height:140px;}
	.prod_title{color:#676767; margin:0;}
	.tbl_box{display:table; min-height:300px;}
	.tbl_box div{width:768px; display:table-cell; vertical-align: middle; text-align:center;}
	.specifications_img{height:80px;}

	/*제품 뷰*/
	.product_view{position:relative;}
	.product_view_layl{float:none; width:100%; border:1px solid #e2e2e2; margin-bottom:20px;}
	.product_view_layr{float:none; width:100%; margin-left:0; border-top:2px solid #047e8b;}
	.product_view_title{font-size:25px; font-weight:600; color:#047e8b; padding-top:18px; margin:0 0 15px 16px;}
	.product_view_title span{display:block; font-size:17px; font-weight:400; margin-top:10px;}
	.product_view_info{background:#f2f8f9; padding:19px 19px 48px 19px;}
	.product_view_list{margin-left:10px; margin-top:15px;}
	.product_view_list li{color:#484848; line-height:17px; font-size:14px; margin-bottom:10px;}
	.product_view_tbl thead{background:#393636;}
	.product_view_tbl thead th{font-size:15px; font-weight:500; color:#fff; padding:8px 0 8px 21px;}
	.product_view_tbl{display:none;}
	.solutions_tbl th{text-align:center; padding-left:0 !important; padding-right:0 !important; font-size:13px !important;}
	.solutions_tbl td{ font-size:13px !important;}
	.solutions_bor{border-left:1px solid #c9c9c9;}
	.product_view_tbl tbody th{display:block; width:786px; background:#f5f5f5; color:#484848; word-break:break-all; padding:8px 22px; font-size:14px; text-align:left; font-weight:500; border-bottom:1px solid #c9c9c9;}
	.product_view_tbl tbody td{display:block; width:786px; color:#484848; word-break: break-word; font-size:14px; padding:11px 22px; word-break:break-all; text-align:left; border-bottom:1px solid #c9c9c9; word-break: break-word;}
	.solutions_tbl thead{}
	.solutions_tbl tbody th,.solutions_tbl tbody td{display:table-cell; text-align:center; font-size:10px !important;}
	.solutions_tbl th{font-size:10px !important;}
	.ipu_tbl thead th:last-child,.ipu_tbl tbody td:last-child{display:none;}
	.tbl_title{display:none;}
	/*탭메뉴*/
	.tab_nav{overflow:hidden; border-bottom:1px solid #ccc; clear:both; margin:20px 0 28px 0;}
	.tab_nav li{font-size:14px; padding:9px;}
	.tab_nav li.on,.tab_list6 li.on a{color:#fff; background:#099399;}
	.tab_cont{display:none;}
	.mobile_tab{position:relative; display:block;}
	.tab_val{ width:100%; margin-top:30px; height:40px; line-height:40px; font-size:13px; cursor:pointer; font-weight:600; border:1px solid #ccc; text-align:center; background:#099399; color:#fff !important;}
	.select_lists{position:absolute; left:0; top:39px; display:none; width:100%; border-left:1px solid #ccc; border-bottom:1px solid #ccc; border-right:1px solid #ccc; z-index:9999;}
	.select_lists li a{display:block; width:100%; height:40px; line-height:40px; color:#ababab !important; font-size:13px; font-weight:600; text-align:center; background-color:#fff;}
	.select_lists li:hover a{background:#099399; color:#fff !important;}
	/*solutions*/
	.title_box{display:table; width:100%; border-bottom:2px solid #047e8b; padding-bottom:10px;}
	.solutions_title01{display:inline-block; width:100%;  vertical-align:middle; font-size:20px; color:#047e8b; font-weight:600;  margin-top:0px; padding-bottom:10px;}
	.icon_img{display:block; width:auto; margin:0px 0 15px 0; vertical-align:middle; text-align:center;}
	.icon_img img{position:relative; bottom:-5px; max-height:90px;}
	.solutions_title01 span{position:relative; bottom:-12px;}
	.solutions_title02{font-size:15px; color:#484848; font-weight:400; margin:0;}
	.solutions_title_img{margin:0 1% 0 0;}
	.solutions_info .product_view_info{padding:19px !important;}
	.solutions_info .product_view_list li{margin-bottom:10px;}
	.solutions_list_layl{float:left; width:100%; margin:0 !important;}
	.solutions_list_layr{float:left; width:100%; margin:0 !important;}
	.carousel_wrap{max-width:804px; margin:0 auto;}
	#carousel-left{z-index:10000; top:50%; margin-top:-10px; margin-left:-180px;}
	#carousel-right{z-index:10000; top:50%; margin-top:-10px; margin-right:-180px;}
	#carousel-left img,#carousel-right img{height:30px;}
	#carousel-left{left:50% !important;}
	#carousel-right{right:50% !important;}
	.ie_img{width:auto;}
	#carousel1 {
    width:320px;
    height: 216px;
    position: relative;
	margin:0 auto;
  }
	#carousel1 img {
		display: hidden; /* hide images until carousel prepares them */
		cursor: pointer; /* not needed if you wrap carousel items in links */
	}
	.solutions_tbl_list{ overflow:hidden; margin:0; display:none; background:#fff; z-index:99999;}
	
	.solutions_tbl_list > li{
		color: #484848;
		font-size: 14px;
		padding: 11px 22px;
		word-break: break-all;
		text-align: left;
		word-break: break-word;
	}
	.solutions_tbl_wrap{position:relative; margin-bottom:10px;}
	.solutions_tbl_toggle{
		background:#393636 url('../images/sub/solutions_arr.png') 97% 50% no-repeat;
		font-size: 15px;
		font-weight: 500;
		color: #fff !important;
		padding: 8px 0 8px 21px;
		border-top:2px solid #ccc;
		border-bottom:2px solid #ccc !important;
		cursor:pointer;
		display:block;
	}
	.solutions_tbl_toggle.on{background:#393636 url('../images/sub/solutions_arr_down.png') 97% 50% no-repeat;}
	.solutions_tbl_list li:nth-child(even){background:#f5f5f5; color:#484848; font-weight:500; border-top:1px solid #d3d3d3;}
	.product_title{
		
	}
	.product_img{text-align:center !important;}

	/*customer_support*/
	.customer_support_box{position:relative;}
	.customer_support_layl{position:static; left:0; top:0; margin-bottom:15px;}
	.customer_support_layl img{height:auto;}
	.customer_support_layr{padding-left:0px; font-size:14px;}
	.customer_support_layr p{line-height:23px;}
	.customer_support_info dt{color:#047e8b; font-size:15px; font-weight:500;}
	.customer_support_info dd{line-height:24px;}
	.tab_img{margin-left:10px; height:9px;}
	/*download*/
	.download_list{overflow:hidden; margin-bottom:13px;}
	.download_list li{font-size:13px; color:#0a9aa0; padding-left:15px; line-height:24px; background:url('../images/sub/lnb_on.png') 0 8px no-repeat;}
	.download_tbl{border-top:2px solid #047e8b; margin-top:10px;}
	.download_tbl td{color:#404040; font-size:13px; padding:10px 12px; border-bottom:1px solid #b7b7b7;}
	.download_tbl td + td{width:100px !important;}
	.inquiry_textarea{min-height:162px; border:1px solid #e5e5e5 !important;}
	.download_tbl td img{width:27px; height:27px;}
	/*Online Inquiry
	.tbl_inquiry th,.tbl_inquiry td{display:block;border:none;padding:0 5px 3px; height:auto; background:#f1f1f1;}
	.tbl_inquiry th{padding:8px 5px 3px;}
	.common_tbl01 tbody th{border:none;}
	.tbl_inquiry td .fs13{display:inline-block;}
	.tbl_inquiry input[type="text"],.tbl_member select{height:40px;width:100%;}
	.tbl_inquiry input[type=checkbox]{width:auto!important;}
	.tbl_app_view th,.tbl_app_view td{font-size:14px; border-bottom: 1px solid #c6c6c6; padding:10px 5px;}
	.tbl_app_view td{background:#fff;}
	.tbl_member th{padding:5px;}
	.tbl_member th,.tbl_member th label{font-size:14px;}
	.tbl_member td,.tbl_member td label{font-size:14px;}
	.tbl_member td input,.tbl_member td select{height:28px !important; line-height:28px;}
	.tbl_inquiry input[type=text], .tbl_inquiry input[type=tel], .tbl_inquiry input[type=email], .tbl_inquiry input[type=url], .tbl_inquiry input[type=password]{height:30px !important; padding: 2px;margin: 1px 0;border: 1px solid #c6c6c6;-webkit-box-sizing: border-box;-webkit-appearance: none;-moz-box-sizing: border-box;-moz-appearance: none;-webkit-border-radius: none;border-radius: 0;}
	.common_tbl01 input[type="text"], .common_tbl01 input[type="password"], .common_tbl01 select{height:30px;}
	.inquiry_email{width:30% !important;}*/
	.tbl_inquiry{border-top:2px solid #047e8b; border-bottom:1px solid #b7b7b7;}
	.tbl_inquiry th{color:#404040;font-size:13px;padding:3px 10px;font-weight:400 !important; min-width:130px; border-bottom:1px solid #d2d2d2;background-color:#f1f1f1;word-break:keep-all;white-space:pre-line;word-wrap:break-word;text-align:left;}
	.tbl_inquiry th label{ font-weight:400 !important;}
	.tbl_inquiry td{padding:3px;font-size:13px; border-bottom:1px solid #c6c6c6;}
	.tbl_inquiry input{vertical-align:middle;}
	.tbl_inquiry input[type=text],
	.tbl_inquiry input[type=tel],
	.tbl_inquiry input[type=email],
	.tbl_inquiry input[type=url],
	.tbl_inquiry input[type=password],
	.tbl_inquiry input[type=file]{height:32px;padding:2px;margin:1px 0;border:1px solid #e5e5e5;-webkit-box-sizing: border-box;-webkit-appearance: none;
	-moz-box-sizing: border-box;-moz-appearance: none;
	-webkit-border-radius:none; border-radius:0;}
	.tbl_inquiry select{height:28px;border:1px solid #c6c6c6;vertical-align:middle;}
	.tbl_inquiry textarea{border:1px solid #c6c6c6;vertical-align:middle;}
	.tbl_inquiry.tbl_join th{}
	.tbl_inquiry.tbl_join td{background:#f8f8f8;}
	.check_box{margin-bottom:10px;}
	.check_text{font-size:13px;}
	.privacyBox_wrap h4{font-size:14px;}
	.privacyBox_wrap p{font-size:13px;}

	/*공지사항*/
	.tbl_list{margin-bottom:10px;}
	.tbl_list th {display:none;}
	.tbl_list td {display:inline-block;}
	.tbl_list td:nth-child(2) a {width:80%; overflow:hidden;}
	.pagination *{padding:0 10px; height:28px; line-height:28px;}
	.pagination_btn img{position:relative; top:-1px; height:30px; vertical-align: sub;}
	.tbl_list tr {position:relative; display:inline-block; padding:10px 0;border-bottom:solid 1px #ccc; width:100%;}
	.tbl_list thead{display:none;}
	.tbl_list th {display:none;}
	.tbl_list td {display:inline-block; color:#c1c1c1; font-weight:400; line-height:22px;}
	.tbl_list td, .tbl_list th {border:none; padding:0 10px;}
	.tbl_list td:first-child {display:none;}
	.tbl_list td:nth-child(2) {width:100%; text-align:left;}
	.tbl_list td:nth-child(2) a {display:inline-block; width:80%; overflow:hidden;}
	.tbl_list td:nth-child(3) {display:none;}
	.tdata{/*border-right:1px solid #cacaca !important;*/ padding-right:17px !important; }
	.mob_file_on {display:inline-block; margin-left:10px;}
	.container{padding:25px 0;}
	.tbl_view.tbl_view_prnx a,.td_file a{font-size:14px;}
	.search_btn{height:30px; line-height:30px; font-size:13px;}
	/*서치 박스*/
	.tbl_search form{font-size:0;}
	.board_btn_basic select{width:32%; height:30px; font-size:14px;}
	.board_btn_basic input[type=text]{width:45%; margin:0 1%;height:30px;}
	.foot_m{display:inline-block;}
	.board_topbx{text-align:center; width:auto; display:inline; float:none; margin:0 !important; }
	.board_topbx_w .board_btn_basic input[type=text]{width:50%;}
	.board_topbx .board_btn_basic{text-align:center;}
	.tbl_list td{font-size:13px;}
	.tbl_list td:last-child{display:none;}
	/*페이징*/
	.pagination{padding:0; margin:10px 0 !important;}
	
}